/*Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid-item1 {
  background-color: powderblue;
}

.grid-item2 {
  background-color: mediumpurple;
}

/*!* Create the flex container *!*/
.flex-container {
  display: flex;
  width: 100%;
}
/* Flex items */
.flex-item1 {
  background-color: rgb(155, 202, 60);
  /* Take up 2 fraction of the available space  */
  flex: 2;
  /*Or more basic way: */
  /* width: 66.66%; */
  /* width: calc(100% / 1.5); */
}

.flex-item2 {
  background-color: mediumpurple;
  /* Take up 1 fraction of the available space  */
  flex: 1;
  /*Or more basic way: */
  /* width: 33.33%; */
  /* width: calc(100% / 3); */
}
